%p
  %h3 Defect Description
  %br
  - semantic_form_for @defect do |f|
    - f.inputs do
      - unless @defect.id.nil?
        = f.input :status, :label => 'Status', :as => :select, :collection => get_allowable_statuses(@defect, current_user), :include_blank => false
      = f.input :environment, :label => 'Environment detected in', :include_blank => false
      - if current_user.technology_team || current_user.scrum_master || current_user.global_admin
        = f.input :project, :label => 'Associated with project', :collection => get_active_projects
        - if current_user.scrum_master || current_user.global_admin
          = f.input :story_type, :collection => ['bug', 'chore', 'feature'], :include_blank => false
      - if current_user.business_user || current_user.technology_team || current_user.scrum_master || current_user.global_admin
        = f.input :against_story_id, :label => 'Associated with story ID', :as => :string, :input_html => {:size => 20, :maxlength => 20}
      = f.input :title, :label => 'Title'
      = f.input :description, :label => 'Problem description'
      %h3 Impact Analysis
      %br
      = f.input :affected, :label => 'Affected parties', :as  => :radio, :collection => get_affected_parties
      = f.input :functional_area, :as => :select, :collection => get_functional_areas
      = f.input :severity, :label => 'Severity', :as => :select, :collection => get_severities
      -if current_user.technology_team || current_user.scrum_master || current_user.global_admin
        = f.input :risk, :label => 'Technical risk', :as => :select, :collection => get_risk_levels
      -if current_user.business_user || current_user.scrum_master || current_user.global_admin
        = f.input :priority, :label => 'Priority', :as => :select, :collection => get_priorities
    - f.buttons do
      = f.submit "Submit"
