- title "Defect Details"
- content_for :summary_info do
  %h6
    %i
      Defect ID #{@defect.id}: #{@defect.title}

#status_info
  %p
    %strong Priority:
    P#{@defect.display_priority}
    %br
    %strong Current status:
    =h @defect.status
    - unless @defect.story_id.nil?
      %br
      %strong Story ID:
      #{h @defect.story_source}#{@defect.story_source.nil? ? nil : ': '}
      = link_to "#{@defect.story_id}", @defect.get_story_url, :target => '_new'
      %br
      %strong Project:
      = @defect.project.name
  %p
    %strong Reporter:
    =h @defect.reporter.fullname
    %br
    %strong Current owner:
    #{@defect.owner.nil? ? '<i>Not assigned</i>' : "#{h @defect.owner.fullname}"}
  %p
    %strong Developer:
    #{@defect.developer.nil? ? '<i>Not assigned</i>' : "#{h @defect.developer.fullname}"}
    %br
    %strong Tester:
    #{@defect.tester.nil? ? '<i>Not assigned</i>' : "#{h @defect.tester.fullname}"}
    %br
    %strong Last assigned:
    #{@defect.last_assigned_at.nil? ? '<i>Never assigned</i>' : @defect.developer.last_assigned_at}
  %p
    %strong Reported:
    = @defect.created_at
    %br
    %strong Started:
    = @defect.started_at
    %br
    %strong Finished:
    = @defect.finished_at
    %br
    %strong Delivered:
    = @defect.delivered_at
    %br
    %strong Approved:
    = @defect.approved_at
    %br
    %strong Rejected:
    = @defect.rejected_at
#main_detail
  %p
    %strong Environment:
    =h @defect.environment.name
  %p
    %strong Affected party:
    =h @defect.affected
  %p
    %strong Functional area:
    =h @defect.functional_area
  %p
    %strong Severity:
    =@defect.get_severity_string
  %p
    %strong Technical risk:
    =@defect.risk.nil? ? '<i>Not yet assessed</i>' : @defect.get_risk_level_string
  %p
    %strong Business impact:
    =@defect.priority.nil? ? '<i>Not yet assessed</i>' : @defect.get_priority_string
  %p
    %strong Reported against:
    #{@defect.against_story_source.nil? ? nil : "#{h @defect.against_story_source}: "}
    #{@defect.against_story_id.nil? ? '<i>No story specified</i>' : "#{h @defect.against_story_id}"}
  %p
    %strong Title:
    =h @defect.title
  %p
    %strong Description:
    %br
    = @defect_description

%p
  = link_to "Edit", edit_defect_path(@defect)
  |
  - if current_user.global_admin || current_user.scrum_master || (@defect.created_at > Time.zone.now - 15.minutes && @defect.reporter == current_user)
    = link_to 'Delete', defect_url(@defect), :confirm => 'Are you sure you want to remove this defect? (This action can\'t be undone!)', :method => :delete
    |
  - if @defect.story_id.nil? && ((current_user.developer && @defect.display_priority.to_i <= 3) || current_user.development_manager || current_user.scrum_master || current_user.global_admin)
    = link_to 'Promote', promote_defect_url(@defect)
    |
  = link_to "View All", defects_path
