- row_classes = Array.new
- ((i + 1) % 2) > 0 ? nil : row_classes << 'grey'
- if accepted
  - row_classes << 'accepted'
- case story.status.downcase
  - when 'unscheduled', 'new', 'reviewed', 'approved'
    - row_classes << 'unscheduled'
%tr{:class => row_classes}
  %td.left
    .task_type
      =image_tag(get_task_type_icon story.story_type)
      &nbsp;
  %td
    - unless story.story_source.nil? || story.story_source.empty? || story.source_id.nil? || story.source_url.nil? || story.source_url.empty?
      %span.small_right #{link_to story.story_source, story.source_url, :target => '_new'}
    %span.small_right #{pluralize story.defects.count, 'defect'}, #{story.defects.open.count} open&nbsp;&nbsp;&nbsp;
    =link_to "#{h story.title}", story_url(story)
  %td.status
    .status=show_story_state(story.status, image_tag(get_state_icon story.status))
  %td.right.nowrap= story.requestor.nil? ? '' : "#{h story.requestor.fullname}"
  %td.right.nowrap
    - owner = story.assignee unless story.assignee.nil?
    - owner ||= story.owner unless story.owner.nil?
    = owner.fullname unless owner.nil?
  %td.right.nowrap
    - if current_user_can_promote_stories(false) && story.source_id.nil? && (['new','approved','reviewed'].map! {|status| story.status.downcase.include? status}.include? true)
      = link_to 'promote', promote_story_url(story), :class => 'action'
    - if current_user_can_send_stories_to_qa(false) && !story.source_id.nil? && (['rejected','unstarted'].map! {|status| story.status.downcase.include? status}.include? true)
      - unless story.story_type == 'feature' && story.estimated_points.nil?
        = link_to 'start', start_story_url(story), :class => 'action'
    - if current_user_can_send_stories_to_qa(false) && story.source_id.nil? && (['approved','reviewed'].map! {|status| story.status.downcase.include? status}.include? true)
      - unless story.story_type == 'feature' && story.estimated_points.nil?
        = link_to 'start', start_story_url(story), :class => 'action'
    - if current_user_can_send_stories_to_qa(false) && story.status.downcase == 'started'
      = link_to 'done', qa_story_url(story), :class => 'action'
    - if current_user_can_send_stories_to_uat(false) && story.status.downcase == 'finished'
      = link_to 'accept', uat_story_url(story), :class => 'action'
      = link_to 'reject', reject_story_url(story), :class => 'action'
    - if current_user_can_perform_story_uat(false) && story.status.downcase == 'delivered'
      = link_to 'accept', accept_story_url(story), :class => 'action'
    - if current_user_can_perform_story_uat(false) && (story.status.downcase == 'delivered' || story.status.downcase == 'accepted')
      = link_to 'reject', reject_story_url(story), :class => 'action'
    - if current_user_can_create_defects(false) && get_state_step(story.status) >= 6
      = link_to 'report', new_defect_url(:against_story_source => 'internal', :against_story_id => story.id), :class => 'action'
-#    - if current_user_can_move_stories(false)
-#      = link_to 'move', move_story_url(:source => get_story_source(story), :project_id => story.project_id, :story_id => story.id)
