- row_classes = Array.new
- ((i + 1) % 2) > 0 ? nil : row_classes << 'grey'
- if accepted
  - row_classes << 'accepted'
- case story.status.downcase
  - when 'unscheduled', 'new', 'reviewed', 'approved'
    - row_classes << 'unscheduled'
%tr{:class => row_classes}
  %td.left
    .task_type
      =image_tag(get_task_type_icon story.story_type)
      &nbsp;
  %td
    - unless story.story_source.nil? || story.story_source.empty?
      %span.small_right #{link_to story.story_source, story.source_url}
    =link_to "#{h story.title}", story_url(story)
  %td.status
    .status=show_story_state(story.status, image_tag(get_state_icon story.status))
  %td.right.nowrap= story.requestor.nil? ? '' : "#{h story.requestor.fullname}"
  %td.right.nowrap
    - owner = story.assignee unless story.assignee.nil?
    - owner ||= story.owner unless story.owner.nil?
    = owner.fullname unless owner.nil?
  %td.right.nowrap
-#    - if current_user_can_move_stories(false)
-#      = link_to 'move', move_story_url(:source => get_story_source(story), :project_id => story.project_id, :story_id => story.id)
