- semantic_form_for [:admin, @environment] do |f|
  - f.inputs do
    = f.input :name, :label => 'Name'
    = f.input :description, :label => 'Description'
    = f.input :restricted_to, :label => 'Restricted to'
    = f.input :enable_at, :label => 'Enable at'
    = f.input :disable_at, :label => 'Disable at'
  - f.buttons do
    = f.submit "Submit"
