- semantic_form_for([:admin, @user]) do |f|
  - f.inputs do
    %h3 User details
    = f.input :firstname, :label => 'First name'
    = f.input :lastname, :label => 'Last name'
    = f.input :nickname, :label => 'Nickname or preferred name'
    = f.input :email, :label => 'Email'
    = f.input :work, :label => 'Office phone'
    = f.input :mobile, :label => 'Mobile phone'
    = f.input :home, :label => 'Home phone'
    = f.input :password, :label => 'Password'
    = f.input :password_confirmation, :label => 'Password confirmation'
    %h3 User permissions
    = f.input :active, :label => 'Can log in'
    = f.input :defect_reporter, :as => :boolean, :label => 'Can report defects'
    = f.input :defect_viewer, :as => :boolean, :label => 'Can view defect lists'
    %h3 User roles
    = f.input :business_user, :as => :boolean
    = f.input :technology_team, :as => :boolean
    = f.input :developer, :as => :boolean
    = f.input :development_manager, :as => :boolean
    = f.input :qa, :as => :boolean, :label => 'QA'
    = f.input :qa_manager, :as => :boolean, :label => 'QA Manager'
    = f.input :scrum_master, :as => :boolean
    = f.input :global_admin, :as => :boolean
    %h3 User API keys
    - f.semantic_fields_for :source_api_keys do |key|
      = key.input :source, :label => 'Source', :as => :select, :collection => ['pivotal', 'internal'], :include_blank => false
      = key.input :api_key, :label => 'API key'
  - f.buttons do
    = f.submit "Submit"
