- semantic_form_for([:admin, @user]) do |f|
  = f.error_messages
  - f.inputs do
    = f.input :firstname, :label => 'First name'
    = f.input :lastname, :label => 'Last name'
    = f.input :nickname, :label => 'Nickname or preferred name'
    = f.input :email, :label => 'Email'
    = f.input :work, :label => 'Office phone'
    = f.input :mobile, :label => 'Mobile phone'
    = f.input :home, :label => 'Home phone'
    = f.input :password, :label => 'Password'
    = f.input :password_confirmation, :label => 'Password confirmation'
    = f.input :active, :label => 'Active'
  - f.buttons do
    = f.submit "Submit"
