- semantic_form_for @feature_request do |f|
  - f.inputs do
    = f.input :title, :label => 'Title'
    = f.input :description, :label => 'Description'
    = f.input :priority, :label => 'Priority'
    = f.input :risk, :label => 'Risk'
    = f.input :affected, :label => 'Impacted parties'
    = f.input :functional_area, :label => 'Functional area'
  - f.buttons do
    = f.submit
