- title "Feature Requests"

%table
  %tr
    %th Status
    %th Title
    %th Priority
    %th Risk
    %th Affected
    %th Functional area
    %th Story source
    %th Story
    %th Requestor
    %th Approver
    %th Approved/Rejected at
    %th Actions
  - for feature_request in @feature_requests
    %tr
      %td= h feature_request.status
      %td= h feature_request.title
      %td= h feature_request.priority
      %td= h feature_request.risk
      %td= h feature_request.affected
      %td= h feature_request.functional_area
      %td= h feature_request.story_source
      %td= h feature_request.story_id
      %td= h feature_request.requestor_id
      %td= h feature_request.approver_id
      %td
        - if feature_request.approved_at.nil? && feature_request.rejected_at.nil?
          Not determined
        - elsif !feature_request.approved_at.nil? && feature_request.rejected_at.nil?
          Approved: #{feature_request.approved_at}
        - elsif !feature_request.rejected_at.nil? && feature_request.approved_at.nil?
          Rejected: #{feature_request.rejected_at}
        - elsif !feature_request.rejected_at.nil? && !feature_request.approved_at.nil?
          #{feature_request.approved_at > feature_request.rejected_at ? "Approved: #{feature_request.approved_at}" : "Rejected: #{feature_request.rejected_at}"}
      %td
        = link_to 'Show', feature_request
        - if current_user == @feature_request.requestor || current_user.scrum_master || current_user.global_admin
          = link_to 'Edit', edit_feature_request_path(feature_request)
          = link_to 'Delete', feature_request, :confirm => 'Are you sure you want to delete this feature request?', :method => :delete

%p= link_to "New Feature Request", new_feature_request_path
