- title "Feature Request"

%p
  %strong Status:
  =h @feature_request.status
%p
  %strong Title:
  =h @feature_request.title
%p
  %strong Description:
  =h @feature_request.description
%p
  %strong Priority:
  = @feature_request.priority.nil? ? '<i>Not yet assessed</i>' : @feature_request.get_priority_string
%p
  %strong Risk:
  = @feature_request.risk.nil? ? '<i>Not yet assessed</i>' : @feature_request.get_risk_level_string
%p
  %strong Affected:
  =h @feature_request.affected
%p
  %strong Functional Area:
  =h @feature_request.functional_area
%p
  %strong Project:
  = @feature_request.project.nil? ? '<i>Not specified</i>' : @feature_request.project.name
%p
  %strong Requestor:
  =h @feature_request.requestor.fullname
%p
  %strong Approver:
  - unless @feature_request.approver.nil?
    =h @feature_request.approver.fullname
%p
  %strong Approved/Rejected at:
  - if @feature_request.approved_at.nil? && @feature_request.rejected_at.nil?
    Not determined
  - elsif !@feature_request.approved_at.nil? && @feature_request.rejected_at.nil?
    Approved: #{@feature_request.approved_at}
  - elsif !@feature_request.rejected_at.nil? && @feature_request.approved_at.nil?
    Rejected: #{@feature_request.rejected_at}
  - elsif !@feature_request.rejected_at.nil? && !@feature_request.approved_at.nil?
    #{@feature_request.approved_at > @feature_request.rejected_at ? "Approved: #{@feature_request.approved_at}" : "Rejected: #{@feature_request.rejected_at}"}
- unless @feature_request.approved_at.nil?
  %p
    %strong Story Source:
    =h @feature_request.story_source
  %p
    %strong Story:
    =h @feature_request.story_id

%p
  - if current_user == @feature_request.requestor || current_user.scrum_master || current_user.global_admin
    = link_to "Edit", edit_feature_request_path(@feature_request)
    |
    = link_to "Delete", @feature_request, :confirm => 'Are you sure you want to delete this request?', :method => :delete
    |
  - if current_user.scrum_master || current_user.global_admin
    = link_to "Approve", approve_feature_request_url(@feature_request)
    |
    = link_to "Reject", reject_feature_request_url(@feature_request)
    |
  = link_to "View All", feature_requests_path
