!!! 5
%html{html_attrs}

  %head
    %title
      FeatureTrack -
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    - unless @refresh.nil? || @refresh < 1
      %meta{"http-equiv"=>'Refresh', :content=>@refresh.to_s}
    = stylesheet_link_tag 'screen', 'overlay', 'formtastic', :cache => 'featuretrack', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery.tools.min', 'jquery.cookies.2.2.0.min', 'jquery.sdrop', 'application', :cache => 'featuretrack'
    = yield(:head)

  %body.nojs
    #nav_tabs.sidetext
      #nav_tab_abs
        =yield(:navigation_links)

    #summary
      #usernav
        #user_identity
          - if current_user && current_user.is_global_admin?
            = link_to image_tag('/images/icons/user-admin.png'), admin_url
          - elsif current_user
            = image_tag '/images/icons/user.png'
          - else
            = image_tag '/images/icons/user-unknown.png'
          - if current_user
            Welcome, #{(current_user.nickname.nil? || current_user.nickname.empty?) ? current_user.firstname : current_user.nickname}
            %br
            = link_to 'My account', user_url
            %span
              |
            = link_to 'Log out', logout_url
          - else
            You are not currently logged in.
            %br
            = link_to 'Click here to log in', login_url

        #refresh_options
          #refresh_option_text
            = image_tag '/images/icons/extinct.png'
            Refresh interval:
            %br
            - if defined? @default_refresh
              %a{:href => url_for(request.request_uri.gsub(/(.*)\?.*/,'\1'))} #{@default_refresh}s
              - unless @default_refresh == 900
                %span
                  |
                %a{:href => url_for(request.request_uri.gsub(/(.*)\?.*/,'\1') + '?refresh=900')} 15m
              %span
                |
              %a{:href => url_for(request.request_uri.gsub(/(.*)\?.*/,'\1') + '?refresh=0')} never
            - else
              %i Manual refresh only

      #globalnav
        - if current_user
          %ul
            - if current_user_can_see_stories(false)
              %li
                = link_to 'activity', root_url
                %ul
                  %li
                    = link_to 'dashboard', root_url
                  %li
                    = link_to 'active projects', current_iteration_url
                  %li
                    = link_to 'assignments', assignments_url
            - if current_user_can_see_defects(false)
              %li
                = link_to 'defects', defects_url
                %ul
                  %li
                    = link_to 'view defects', defects_url
                  - if current_user_can_create_defects(false)
                    %li
                      = link_to 'report a defect', new_defect_url
            - if current_user_can_request_features(false)
              %li
                = link_to 'features', feature_requests_url
                %ul
                  %li
                    = link_to 'view requests', feature_requests_url
                  %li
                    = link_to 'new request', new_feature_request_url
            - if current_user.global_admin
              %li
                = link_to 'administration', admin_url
                %ul
                  %li
                    = link_to 'projects', admin_projects_url
                  %li
                    = link_to 'environments', admin_environments_url
                  %li
                    = link_to 'users', admin_users_url

      - if show_title?
        .clear
        %h1= h yield(:title)

      -if yield(:summary_info)
        = yield(:summary_info)

    #container
      #overview
        #messages
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
          - if yield(:status_summary)
            = yield(:status_summary)
        = yield
